@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { 
    margin: 0; padding: 0; 
}
body { 
    background-color: #333333; 
    overflow: hidden; 
    font-family: 'Noto Sans KR', sans-serif; 
}
a, input, button, 
textarea, img { outline: none; }
h1, h2, h3, h4, 
h5, h6, p, span, i, b { 
    color: #333333; 
}
input, textarea { 
    border: none;
    overflow-x: hidden; 
    box-sizing: border-box; 
}
input[type='text'] {
    
}
input::placeholder {
}
input:focus { }

button { 
    border: none;
    box-sizing: border-box;
}

main#web_chat { 
    width: 100%; 
    height: auto; 
}
main#web_chat .title { 
    font-size: 13px; 
    display: block; 
    padding: 5px 0; 
    color: #fff; 
    text-align: center;
}
main#web_chat .chat_box { 
    width: 95%; 
    height: auto;
    margin: 0 auto;
}
main#web_chat .chat_box #view { 
    display: block; 
    width: 100%; 
    height: 91%; 
    background-color: #666666; 
    border: none;  
    resize: none;
    border-radius: 1% 1% 0 0;
    overflow-y: auto;
    cursor: default;
}
main#web_chat .chat_box .massege { 
    width: 100%; 
    height: auto; 
    position: relative; 
}
main#web_chat .chat_box .massege .write { 
    display: inline-block; 
    width: 90%;
    padding: 5px; 
    background-color: #666666;
    color: #fff;
    height: 40px;
    border-top: 1px solid #4A4A4A;
    border-radius: 0 0 0 2%; 
}
main#web_chat .chat_box .massege .write::placeholder {
    color: #fff;
} 
main#web_chat .chat_box .massege .send_btn { 
    width: 10%;
    display: inline-block; 
    position: absolute; 
    right: 0; 
    text-align: center;
    padding: 5px 0;
    height: 40px;
    border-radius: 0 0 2% 0;
    background-color: #80EB46;
    cursor: pointer;
}
main#web_chat .chat_box .massege .send_btn i {
    color: #fff;
    font: 12px;
}
